﻿<h1>Add User</h1>

<form method="post">

    <div class="alert-danger">@ViewBag.message</div>

    <div class="form-group">
        <label for="Username">Username</label>
        <input class="form-control" name="Username" id="Username" type="text" value="@ViewBag.username" />
    </div>
    <div class="form-group">
        <label for="Email">Email</label>
        <input class="form-control" name="Email" id="Email" type="text" value="@ViewBag.email" />
    </div>
    <div class="form-group">
        <label for="Password">Password</label>
        <input class="form-control" name="Password" id="Password" type="password" />
    </div>
    <div class="form-group">
        <label for="Verify">Verify Password</label>
        <input class="form-control" name="Verify" id="Verify" type="password" />
    </div>

    <input type="submit" value="Create Account" />
</form>